//FONTS
@import url("https://use.typekit.net/tec6cjb.css");
$base: "brandon-grotesque", sans-serif;
$body: "brandon-grotesque", sans-serif;

//WEIGHTS
$thin: 100;
$light: 200;
$book: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

//STYLES
$italic: italic;
$normal: normal;

//COLOR PALLETTE

$primary: #000b40;
$secondary: #f02d3d;
$accent: #f2e9e4;
$grey: #f9f9f9;
$black: #2f323a;
$white: #ffffff;

//OVERLAYS
$deepOverlay: rgba(33, 45, 64, 0.25);
