//FOOTER
.footer {
  background-color: $primary;
  padding: 50px;
  @include mobile {
    padding: 25px;
  }

  .block-heading {
    @include mobile {
      margin-bottom: 12px;
    }
  }

  .connect-summary {
    @include mobile {
      line-height: 1.75em;
    }
  }
  &-main {
    h3 {
      font-size: 2.75em;
      margin-bottom: 0px;
    }
  }
  &-block {
    margin-top: 33px;
    margin-bottom: 33px;
    a {
      text-decoration: none;
      @include mobile {
        font-size: 1.2em;
      }
    }
  }
}
.socialLinks {
  .social-link {
    .link {
      color: $white;
      font-size: 1.2em;
      padding-bottom: 0px;
    }
  }
}

.contact-form {
  @include mobile {
    margin-top: 50px;

    button {
      text-align: center;
      width: 100% !important;
    }
  }
}