@import url("https://use.typekit.net/tec6cjb.css");
.hidden {
  display: none !important;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.block-heading {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

.bold {
  font-weight: 700;
}

html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 16px;
  background-color: #000b40;
  color: #ffffff;
}

a {
  color: #ffffff;
}

button,
.button {
  width: 250px;
  padding: 12px;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  border: 1px solid transparent;
}
button--primary,
.button--primary {
  background-color: #f02d3d;
  color: #ffffff;
}
button--primary a,
.button--primary a {
  color: #ffffff;
}

.example img {
  width: 100%;
  position: relative;
}

.example .overlay {
  position: absolute;
  top: 80px;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}

h1,
.h1 {
  font-size: 7.47875rem;
  letter-spacing: 3px;
}
@media (min-width: 350px) and (max-width: 768px) {
  h1,
.h1 {
    font-size: 2.99375rem !important;
  }
}

h2,
.h2 {
  font-size: 3.1575rem;
  font-weight: 600;
  letter-spacing: 2px;
}
@media (min-width: 350px) and (max-width: 768px) {
  h2,
.h2 {
    font-size: 1.776875rem;
  }
}

h3,
.h3 {
  font-size: 2.36875rem;
  letter-spacing: 2px;
}
@media (min-width: 350px) and (max-width: 768px) {
  h3,
.h3 {
    font-size: 1.333125rem;
  }
}

h4,
.h4 {
  font-size: 1.333125rem;
  letter-spacing: 2px;
}
@media (min-width: 350px) and (max-width: 768px) {
  h4,
.h4 {
    font-size: 1.136875rem;
  }
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 350px) and (max-width: 768px) {
  h5,
.h5 {
    font-size: 1rem;
  }
}

.footer {
  background-color: #000b40;
}
.footer-main h3 {
  font-size: 2.75em;
  margin-bottom: 0px;
}
.footer-block {
  margin-top: 33px;
  margin-bottom: 33px;
}

.socialLinks .social-link .link {
  color: #ffffff;
  font-size: 1.2em;
  padding-bottom: 0px;
}

.page-template-about .cta__banner {
  margin-bottom: 0px;
}

.page-template-contact .cta__footer {
  margin-top: 0px;
}

.custom-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.custom-nav .nav-link {
  color: #ffffff;
  font-size: 1.1em;
}

.site-header {
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}
.site-header .site-inner .site-heading .heading {
  margin-bottom: 0;
  line-height: 0.75em;
}
.site-header .site-inner .site-heading .site-leading {
  font-size: 32px;
  font-weight: 300;
  margin-top: 0px;
}

.hello__content {
  font-size: 1.75em;
  margin-top: 30px;
  line-height: 1.75em;
  text-align: left;
}

.singleService__featuredImage {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.singleService__content {
  width: 95%;
  margin: 25px auto;
}

.tracklist {
  height: 400px;
  padding: 25px;
}

.photo-banner {
  height: 300px;
  background-size: cover;
}

.about--content {
  padding: 100px;
}
.about--content--heading {
  margin-bottom: 75px;
}
.about--content--heading .bio {
  line-height: 2.25em;
  font-size: 1.15em;
}

.credit {
  padding: 0px;
  margin: 0 auto;
  position: relative;
}
.credit-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.credit .credit-link {
  z-index: 10;
  color: white;
  font-size: 2em;
  position: absolute;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.credit .credit-link:hover {
  opacity: 1;
  text-decoration: none;
}
.credit img {
  width: 225px;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.photoSlider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  padding: 0px;
}
.photoSlider .sliderHeading {
  position: absolute;
  z-index: 120;
}
.photoSlider--overlay {
  width: 100%;
  position: absolute;
  z-index: 10;
  height: 100%;
  background-color: rgba(0, 11, 64, 0.5);
}
.photoSlider--inner {
  width: 100%;
  height: 100%;
}
.photoSlider--inner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}